@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this to your global stylesheet or CSS module */
.neon-blue-gradient {
  background: linear-gradient(90deg, #00d4ff, #0066ff); /* Neon blue gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
